header {
   width: 700px;
   padding: 3% 5% 3% 5%;
}

.comment {
   color: darkgreen;
   padding-top: 10px;
   padding: 5% 5% 0% 5%;
   text-align: center;
}

body {
   font-family: 'HelveticaNeue';
   font-size: 1.1em;
   background: hsl(195, 20%, 88%);
}

h1, h2, h3 {
   font-family: 'Z003';
}

.container {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: stretch;
   width: 100%;;
}

.tete {
   background: rgba(103, 64, 245, 0.7);
}

p, ul {
   color: rgb(14, 14, 138);
   line-height: 1.4em;
}

a {
   outline: none;
   text-decoration: none;
   padding: 5% 5% 0% 5%;
}

.photo_id {
   display: block;
   border: 3px gray outset;
   border-radius: 1em;
   margin-top: 15%;
   margin-left: 15% ;
}

.element1 {
   display: inline-block;
   position: relative;
   justify-content: center;
   flex-wrap: wrap;
   padding: 5% 5% 0% 5%;
   vertical-align: top;
   text-align: justify;
}

.element2 {
   display: inline-block;
   position: relative;
   justify-content: left;
   flex-wrap: wrap;
   padding: 12% 5% 0% 5%;
   vertical-align: top;
}

section {
   margin-bottom: 5%;
}

h1, h2, h3, h4, h5 {
   margin-bottom: 20px;
}

h1 {
   justify-content: left;
   text-align: center;
   font-size: 3em;
   color: #125F84;
   text-shadow: rgb(9, 82, 85) 0.1em 0em 0.15em
}

h2 {
   justify-content: left;
   text-align: center;
   font-size: 2em;
   color: #125F84;
   text-shadow: rgb(9, 82, 85) 0.1em 0em 0.15em
}

h3 {
   text-align: center;
   font-size: 2em;
   color: white;
   text-shadow: black 0.1em 0.1em 0.2em
}

#logo {
   padding-top: 30px;
}

mark {
   background: #a1dfa1;
   color:rgba(15, 102, 216, 0.9)
}
footer {
   text-align: center;
   margin-top: 15px;
   background: rgba(15, 102, 216);
}

.foot1 {
   padding-top: 40px;
   margin-bottom: 2%;
}

.foot2 {
   padding-bottom: 20px;
}

.foot3 {
   flex-direction: row;
}

a:hover {
   text-decoration: underline;
   color: green;
}